.container {
	width:90%;
}

.hero-unit {
	height: 10px;
	text-align: center;
	padding-top: 10px;
	background-color: #3a96d8;
	color: white;
	border-radius: 0px 0px 3px 3px;
}


.right {
	float: right;
}

.left {
	float: left;
}

.clearfix{
	clear: both;
}

.menu {
	width: 20%;
	padding: 15px;
	background-color:#f6f6f6;
	border-radius: 5px;
}
.content{
	height:455px;
	width : 70%;
	overflow-x:auto;
	overflow-y:auto;
	background-color:#f8f8f8;
	border-radius: 5px;
	padding: 15px;
}
	.content-item{
		height:400px;
		overflow-x:show;
		overflow-y:auto;
	}
.hidden {
	display:none;
}

.popup{
	position:fixed;
	top:50%;
	left:50%;
	background-color:white;	
	border-radius:5px;
	border: 1px solid black;
	box-shadow:20px 20px 20px #888888;	
	padding:25px;
	z-index:10;
}



#view-stock-popup {	
	margin-left:-250px;
	margin-top:-250px;
	width:500px;
	height:auto;
}
#add-stock-popup {
	margin-left:-200px;
	margin-top:-250px;
	width:auto;
	height:auto;
}
#add-stock-btn{
margin-top:10px;
}
#discard-stock-btn{
margin-top: 10px;
}


#discard-stock-popup {
	margin-left:-200px;
	margin-top:-250px;
	width:auto;
	height:auto;
	z-index:20;
}
.middle {
	margin-top: 10px;
	margin-left:175px;
	margin-right:175px;
	width: 150px;
}

#add-edit-product {
	margin-left:-250px;
	margin-top:-250px;
	width:auto;
	height:auto;
}
#add-edit-store {
	margin-left:-250px;
	margin-top:-250px;
	width:auto;
	height:auto;
}

.sales-head {
	font-weight: bold;
}

#sales-center {
	text-align: center;
}

#main-page-controller{
	margin-left:auto;
	margin-right:auto;
	width:50%;
	text-align:center;
	
}


.page-controller {
	padding: 2px;
	margin: 2px;
	text-shadow:2px 2px 10px #000000;
	color: blue;
}

.page-controller:hover {
	cursor:pointer;
	color: lightblue;
	text-shadow:2px 2px 10px #FFFFFF;
}

.next-paging {
	padding: 2px;
	margin: 2px;
	text-shadow:2px 2px 10px #000000;
	color: blue;
}

.next-paging:hover {
	cursor:pointer;
	color: lightblue;
	text-shadow:2px 2px 10px #FFFFFF;
}

.prev-paging {
	padding: 2px;
	margin: 2px;
	text-shadow:2px 2px 10px #000000;
	color: blue;
}

.prev-paging:hover {
	cursor:pointer;
	color: lightblue;
	text-shadow:2px 2px 10px #FFFFFF;
}

#product-list{
	height:350px;
	overflow:auto;
}

#loading-screen{
	position: fixed;
	height:100%;
	width:100%;
	vertical-align:middle;
	background-color: lightgrey;
	z-index:100;
	opacity:0.5;
}

#loading-text{
	top:50%;
	position:fixed;
	text-align:center;
	font-size:24pt;
	width:100%;
}