.container {
	width:90%;
}

.body {
	text-align:center;
}
.hero-unit {
	height: 10px;
	text-align: center;
	padding-top: 10px;
	background-color: #3a96d8;
	color: white;
	border-radius: 0px 0px 3px 3px;
}


.right {
	float: right;
}

.left {
	float: left;
}

.clearfix{
	clear: both;
}

.menu {
	width: 100%;
	background-color:#f6f6f6;
	border-radius: 5px;
	margin-bottom: 5px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top:2px;
	padding-bottom:2px;
}

.active {
	background-color:#3a96d9;
	color: white;
	cursor: pointer;
}

.top-menu {
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom:10px;
	display: inline-block;
}

.hero-unit h2 span{
	vertical-align:middle;
}
.top-menu:hover {
	background-color:#3a96d9;
	color: white;
	cursor: pointer;
}

.top-menu:click {
	background-color:#3a96d9;
	color: white;
}

.content{
	height:555px;
	width : 100%;
	overflow-x:auto;
	overflow-y:auto;
	background-color:#f8f8f8;
	border-radius: 5px;
}
	.content-item{
		margin: 5px 5px 5px 5px;
		overflow-x:show;
		overflow-y:auto;
	}
.hidden {
	display:none;
}

.popup{
	position:fixed;
	top:50%;
	left:50%;
	background-color:white;	
	border-radius:5px;
	border: 1px solid black;
	box-shadow:20px 20px 20px #888888;	
	padding:25px;
	z-index:10;
}

#search-bar {
	margin: 5px 5px 5px 5px;
}

#view-stock-popup {	
	margin-left:-250px;
	margin-top:-250px;
	width:500px;
	height:auto;
}
#add-stock-popup {
	margin-left:-200px;
	margin-top:-250px;
	width:auto;
	height:auto;
}
#add-stock-btn{
margin-top:10px;
}
#discard-stock-btn{
margin-top: 10px;
}


#discard-stock-popup {
	margin-left:-200px;
	margin-top:-250px;
	width:auto;
	height:auto;
	z-index:20;
}
.middle {
	margin-top: 10px;
	margin-left:175px;
	margin-right:175px;
	width: 150px;
}

#add-edit-product {
	margin-left:-250px;
	margin-top:-250px;
	width:auto;
	height:auto;
}
#add-edit-store {
	margin-left:-250px;
	margin-top:-250px;
	width:auto;
	height:auto;
}

.sales-head {
	font-weight: bold;
}
table.table th, table.table td {
	vertical-align:middle !important;
}
#sales-center {
	text-align: center;
}

#main-page-controller{
	margin-left:auto;
	margin-right:auto;
	width:50%;
	text-align:center;
	height: 30px;
}
.page-controller.active{
	color: #fff;
	cursor: default;
	background-color: #428bca;
	border-color: #428bca;
}

.page-controller {
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.428571429;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
}

.btn {
	margin: 1px;
}

.page-controller:hover {
	cursor:pointer;
	color:white;
	background-color: lightblue;
	text-shadow:2px 2px 10px #FFFFFF;
}

.next-paging {
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.428571429;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.next-paging:hover {
	cursor:pointer;
	color:white;
	background-color: lightblue;
	text-shadow:2px 2px 10px #FFFFFF;
}
.btn-small.btn-inverse {
	margin = -8px;
}
.prev-paging {
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.428571429;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.prev-paging:hover {
	cursor:pointer;
	color:white;
	background-color: lightblue;
	text-shadow:2px 2px 10px #FFFFFF;
}
#product-info-metrics {
	position:absolute;
	top:300px;
	display:block;
	height: 200px;
	width:400px;
}
#loading-screen{
	position: fixed;
	height:100%;
	width:100%;
	vertical-align:middle;
	background-color: lightgrey;
	z-index:100;
	opacity:0.5;
}

#loading-text{
	top:50%;
	position:fixed;
	text-align:center;
	font-size:24pt;
	width:100%;
}
.table-wrapper {
	height: 425px;
}

#performance-metrics {
	height:400px;
	width:500px;
	overflow:hidden;
	margin-left: auto;
	margin-right: 50px;
}